{% extends 'flatpages/default.html' %}

{% block title %}
    Start page
{% endblock title %}

{% block content %}

     <div class="col-md-12">
         <div class="blog-entry ftco-animate d-md-flex">
             <div class="text text-2 pl-md-4">
                 <h4 class="mb-2"><a href="tanks"> Танки </a></h4>
                 <h4 class="mb-2"><a href="heals"> Хилы </a></h4>
                 <h4 class="mb-2"><a href="DD"> ДД </a></h4>
                 <h4 class="mb-2"><a href="merchants"> Торговцы </a></h4>
                 <h4 class="mb-2"><a href="GuildMasters"> Гилдмастеры </a></h4>
                 <h4 class="mb-2"><a href="QuestGivers"> Квестгиверы </a></h4>
                 <h4 class="mb-2"><a href="Blacksmiths"> Кузнецы </a></h4>
                 <h4 class="mb-2"><a href="Tanners"> Кожевники </a></h4>
                 <h4 class="mb-2"><a href="PotionMakers"> Зельевары </a></h4>
                 <h4 class="mb-2"><a href="SpellMasters"> Мастера заклинаний </a></h4>
             </div>
         </div>
     </div>


{% endblock content %}